@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #7c3aed;
  --accent: #06b6d4;
}

@theme {
  --color-primary: #2563eb;
  --color-secondary: #7c3aed;
 --color-accent: #06b6d4;
}


body {
  font-family: 'Inter', sans-serif;
}

/* Custom animations */
@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}